.header .smalcart{
    float: right;
    padding:10px;
    padding-left:15px;
    margin:10px;
    border:1px solid gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #E6DEEA;
}

H1 {
    color: #dd4444;
}